@import "../../styles/variables.scss";

.aboutContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: column;
}

.aboutTextContainer {
  width: 90%;
  color: $text-color;
  font-size: 1.25rem;
  line-height: 1.4;
  flex-direction: column;

  p {
    text-align: center;
    font-size: 1.6rem;
  }

  span {
    color: $about-title-purple;
  }

  ul {
    display: flex;
    flex-direction: column;
    margin: 3rem;

    li {
      display: flex;
      align-items: center;
      gap: 6px;
      list-style: none;
    }

    .aboutTileHobby {
      margin-bottom: 1rem;
      padding-left: 1.55rem;
    }

    .aboutIcon {
      color: $text-color-secondary;
    }
  }
}

.aboutStats {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.aboutGithubContainer {
  flex-direction: column;
  margin-top: 6rem;
}

@media (max-width: 800px) {
  .aboutGithubContainer {
    display: none;
  }
}
