@import "../../../../styles/mixins.scss";
@import "../../../../styles/variables.scss";

.card {
  position: relative;
  width: 300px;
  height: 330px;
  border-radius: 15px;
  overflow: hidden;
}

.cardImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
}

.cardBody {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%;
  height: 100%;
  top: 0;
  right: -100%;
  position: absolute;
  background: #00000038;
  backdrop-filter: blur(10px);
  border-radius: 15px;
  color: #fff;
  padding: 30px;
  transition: 1.4s;
}

.card:hover .cardBody {
  right: 0;
}

.cardTitle {
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 500;
}

.cardDescription {
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-size: 17px;
  line-height: 20px;
  font-style: italic;
  margin: auto;
}

.cardTechnology {
  font-size: 18px;
  margin-bottom: 20px;
}

.cardContainerBtn {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
}

.projectBtn {
  padding: 0.6rem;
  border-radius: 10px;
  background: white;
  color: black;
  font-weight: bold;
  cursor: pointer;
  transition: 0.4s ease;
  &:hover {
    background: dodgerblue;
    color: white;
  }
}
