@import "../../../styles/variables.scss";
@import "../../../styles/mixins";

.featuredProjectContainer {
  width: 100%;
  background-color: $bg-color;
  border-radius: $container-border-radius;
  padding: 2rem;
}

.featuredProjectTitle {
  @include center;
  color: $text-color;
  font-size: 2.2rem;
  gap: 1rem;
  margin-bottom: 2rem;

  &:after {
    @include gradient-border;
  }
}

.searchContainer {
  @include center;
  margin-bottom: 3rem;
  gap: 2rem;
  flex-wrap: wrap;
}

.search {
  border-radius: 0.5rem;
  padding: 0.7rem 1rem;
}

.btnFilter {
  @include center;
  flex-wrap: wrap;
  gap: 1rem;

  button {
    padding: 0.6rem 1rem;
    border-radius: 1rem;
    cursor: pointer;
    font-weight: 600;
  }
}

.featuredProject {
  @include center;
  flex-wrap: wrap;
  padding-bottom: 10px;
  gap: 3rem;
}

.featuredProjectBtn {
  @include center;
  margin-top: 3rem;
}

@media (max-width: 800px) {
  .FeaturedProjectTitle {
    width: 300px;
    margin: auto;
  }
}
