$font-stack: "Helvetica";
$text-color: #fff;
$text-color-secondary: #a6a6a6;
$btn-color: #4b15e1;
$body-bg-color: #271831;
$bg-color: #111;
$bg-color-secondary: rgba(129, 72, 144, 0.161);
$container-border-radius: 10px;
$card-border-radius: 5px;
$gradient: linear-gradient(90deg, rgb(40, 45, 119) 0%, rgba(24, 45, 116, 0.411) 100%);
$about-title-purple: #cd5ff8;

   