@import "../../../styles/variables.scss";

.MainContainer {
  flex: 2 1 0;
  padding: 0.5rem;
  background-color: $bg-color;
  border-radius: $container-border-radius;
}

.NameContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 3rem;
}

.MainText {
  font-size: 2.5rem;
  color: rgb(40, 45, 119);
  margin-bottom: 1rem;
}

.MainSpan {
  color: $text-color;
}

.MainTypewriter {
  color: rgb(40, 45, 119);
  font-size: 1.8rem;
}

.MainContentTitle {
  display: flex;
  justify-content: center;
  color: $text-color-secondary;
  font-size: 1rem;
  padding: 0.2rem;
}

.MainContainerCard {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3rem;
  margin: 1.2rem;
}

.MainCard {
  display: flex;
  justify-content: center;
  align-items: center;

  svg {
    font-size: 2.5rem;
  }
}

.HomeContainerBtn {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

#html {
  svg {
    color: #e44d26;
  }
}

#css {
  svg {
    color: #1572b6;
  }
}

#js {
  svg {
    color: #f0db4f;
  }
}

#node {
  svg {
    color: #83cd29;
  }
}

#mysql {
  svg {
    color: #00618a;
  }
}

#react {
  svg {
    color: #61dafb;
  }
}

#postman {
  svg {
    color: #e44c00;
  }
}

#figma {
  svg {
    color: #de7e4d;
  }
}

#git {
  svg {
    color: #f57434;
  }
}

#github {
  svg {
    color: #a9a9a9;
  }
}

#insomia {
  svg {
    color: #362256;
  }
}

#next {
  svg {
    color: #a5a5a5;
  }
}

#jest {
  svg {
    color: #e06d15;
  }
}

#sass {
  svg {
    color: #e015be;
  }
}

#tailwind {
  svg {
    color: #161295;
  }
}

#typescript {
  svg {
    color: #1610c6;
  }
}

#bootstrap {
  svg {
    color: #120da3;
  }
}

#netlify {
  svg {
    color: #099b60;
  }
}

#mongo {
  svg {
    color: #016c37;
  }
}

#wordpress {
  svg {
    color: #088fe9;
  }
}

#solidity {
  svg {
    color: #5a5a5a;
  }
}

#php {
  svg {
    color: #0a31ae;
  }
}

#java {
  svg {
    color: #ae200a;
  }
}

#sanity {
  svg {
    color: #520e28;
  }
}

@media (max-width: 800px) {
  .MainContainer {
    padding: 0;

    .MainContainerCard {
      display: flex;
      gap: 1.5rem;
    }

    .MainText {
      display: flex;
      align-items: center;
      flex-direction: column;
    }

    .MainCard {
      svg {
        font-size: 1.9rem;
      }
    }
    .HomeContainerBtn {
      margin-bottom: 1rem;
    }
  }
}
