@import "../../../styles/variables.scss";

.MainContainer {
  flex: 2 1 0;
  padding: 1rem;
  background-color: $bg-color;
  border-radius: $container-border-radius;
}

.MainContentTitle {
  display: flex;
  justify-content: center;
  color: $text-color;
  font-size: 1.2rem;
  margin: 1rem;
}

.MainContainerCard {
  display: flex;
  flex-wrap: wrap;
  padding: 1rem;
  justify-content: center;
  gap: 3rem;

  .MainCard {
    display: flex;
    justify-content: center;
    align-items: center;

    svg {
      font-size: 2.5rem;
    }
  }
}

.HomeContainerBtn {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

#html {
  svg {
    color: #e44d26;
  }
}

#css {
  svg {
    color: #1572b6;
  }
}

#js {
  svg {
    color: #f0db4f;
  }
}

#node {
  svg {
    color: #83cd29;
  }
}

#mysql {
  svg {
    color: #00618a;
  }
}

#react {
  svg {
    color: #61dafb;
  }
}

#postman {
  svg {
    color: #e44c00;
  }
}

#figma {
  svg {
    color: #de7e4d;
  }
}

#git {
  svg {
    color: #f57434;
  }
}

#github {
  svg {
    color: #a9a9a9;
  }
}

#insomia {
  svg {
    color: #362256;
  }
}

#next {
  svg {
    color: #a5a5a5;
  }
}

#jest {
  svg {
    color: #e06d15;
  }
}

#sass {
  svg {
    color: #e015be;
  }
}

#tailwind {
  svg {
    color: #161295;
  }
}

#typescript {
  svg {
    color: #1610c6;
  }
}

#bootstrap {
  svg {
    color: #120da3;
  }
}

#netlify {
  svg {
    color: #099b60;
  }
}

#mongo {
  svg {
    color: #016c37;
  }
}

#wordpress {
  svg {
    color: #088fe9;
  }
}

#sanity {
  svg {
    color: #520e28;
  }
}

@media (max-width: 800px) {
  .MainContainer {
    padding: 0;

    .MainContainerCard {
      display: flex;
      gap: 2rem;
    }

    .MainCard {
      svg {
        font-size: 2rem;
      }
    }

    .HomeContainerBtn {
      margin-bottom: 1rem;
    }
  }
}
